<div class="d-grid gap-2 mt-4">
  <%- if controller_name != "sessions" %>
    <%= link_to t("accounts.shared.links.sign_in"), new_session_path(resource_name), class: "btn btn-outline-secondary" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != "registrations" %>
    <%= link_to t("accounts.shared.links.create_account"), new_registration_path(resource_name), class: "btn btn-outline-secondary" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to t("accounts.shared.links.confirmation_instructions"), new_confirmation_path(resource_name), class: "btn btn-link text-decoration-none" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <%= link_to t("accounts.shared.links.unlock_instructions"), new_unlock_path(resource_name), class: "btn btn-link text-decoration-none" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to t("accounts.shared.links.sign_in_with", provider: OmniAuth::Utils.camelize(provider)),
        omniauth_authorize_path(resource_name, provider),
        data: { turbo: false },
        class: "btn btn-outline-secondary" %>
    <% end %>
  <% end %>
</div>
