<section class="row justify-content-center">
  <div class="col-lg-6">
    <div class="p-5 bg-white border rounded-3 text-center shadow-sm">
      <% if @attendance_list.not_started? %>
        <span class="badge text-bg-info mb-3"><%= t(".not_started.badge") %></span>
        <h1 class="h2 fw-bold"><%= t(".not_started.title") %></h1>
        <p class="text-secondary mb-0">
          <%= t(".not_started.description",
            date: l(@attendance_list.local_time(@attendance_list.starts_at), format: :long),
            time_zone: @attendance_list.time_zone) %>
        </p>
      <% elsif @attendance_list.expired? %>
        <span class="badge text-bg-secondary mb-3"><%= t(".expired.badge") %></span>
        <h1 class="h2 fw-bold"><%= t(".expired.title") %></h1>
        <p class="text-secondary mb-0">
          <%= t(".expired.description",
            date: l(@attendance_list.local_time(@attendance_list.ends_at), format: :long),
            time_zone: @attendance_list.time_zone) %>
        </p>
      <% else %>
        <span class="badge text-bg-secondary mb-3"><%= t(".inactive.badge") %></span>
        <h1 class="h2 fw-bold"><%= t(".inactive.title") %></h1>
        <p class="text-secondary mb-0"><%= t(".inactive.description") %></p>
      <% end %>
    </div>
  </div>
</section>
